<div class="row">
       <div class="col-md-8">
         <div class="well">
           <div class="media-left">
             <img src="{{$ctrl.post.item_image}}">
             <span class="media-heading">{{$ctrl.post.title}}</span>
           </div>
           <div class="media-body">
             <p>{{$ctrl.post.description}}</p>
           </div>
             <h4 class="money"> {{$ctrl.post.price}}</h4>
         </div>
       </div>
    </div>

    <div class="row">
      <div class="col-md-8">

     <form class="form">
           <label for="title">Title</label>
             <input id="title" value="{{$ctrl.post.title}}" type="text" class="form-control" ng-model="$ctrl.edit.title" name="title" required>
             <label for="price">Price</label>
             <input id="price" type="tel" value="{{$ctrl.post.price}}" class="form-control" ng-model="$ctrl.edit.price" name="price" required>
             <label for="description">Description</label>
               <textarea id="description" class="form-control" ng-model="$ctrl.edit.description" required>{{$ctrl.post.description}}</textarea>
               <label for="image">Image</label>
               <input id="image" ng-model="$ctrl.edit.item_image" value="{{$ctrl.post.item_image}}" class="form-control" name="item_image" required>
          <div class="form-group">
         <a class="waves-effect waves-light btn" ng-click="$ctrl.update($ctrl.edit, $ctrl.post.id)">update</a>
       </div>
       </form>
     </div>
   </div>
