<div class="row">
    <h3 class="text-center"> Update Post </h3>
         <div class="well shadow">
           <div class="media-left">
             <img src="{{$ctrl.post.item_image}}" class="media-object">
             </div>
             <div class="media-body">
             <span class="media-heading title">{{$ctrl.post.title}}</span>
             <p>{{$ctrl.post.description}}</p>
           </div>
           <div>
             <h4 class="money">$ {{$ctrl.post.price}}</h4>
            </div>
         </div>
    </div>

    <div class="row">

     <form class="form" novalidate name="$ctrl.updatePost">
           <label for="title">Title</label>
             <input id="title" ng-value="$ctrl.post.title" type="text" class="form-control" ng-model="$ctrl.edit.title" name="title">
             <label for="price">Price</label>
             <input id="price" type="" ng-value="$ctrl.post.price" ng-pattern="/^[\d]?[\d]?(\.[\d][\d]?)?$/" class="form-control" ng-model="$ctrl.edit.price" name="price">
             <label for="description">Description</label>
               <textarea id="description" ng-value="$ctrl.post.description" class="form-control" ng-model="$ctrl.edit.description"></textarea>
               <label for="image">Image</label>
               <input id="image" ng-model="$ctrl.edit.item_image" ng-value="$ctrl.post.item_image" class="form-control" name="item_image">
               <br>
          <div class="form-group">
         <a class="btn btn-primary" ng-click="$ctrl.update($ctrl.edit, $ctrl.post.id)" ng-class="{'disabled': $ctrl.updatePost.$invalid}">update</a>
         <a class="pull-right btn btn-info" ui-sref="classifieds">home</a>
       </div>
       </form>
   </div>
